<p id="notice"><%= notice %></p>

<h1>Tareas Dieciocheras</h1>

<%= link_to 'New Task', new_task_path, class: "btn btn-success text-white"  %>

<div class="row">
  <% @tasks.each do |task| %>
    <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="<%= task.photo %>" alt="<%= task.name %>">
          <div class="card-body">
            <h5 class="card-title"> <%= task.name %></h5>
            <p class="card-text"><%= task.description %></p>
            <td><%= link_to 'Ver Detalles', task, class: "btn btn-primary text-white" %></td>
            <td><%= link_to 'Editar', edit_task_path(task), class: "btn btn-warning text-white" %></td>
            <td><%= link_to 'Borrar', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger text-white"  %></td>

            <% if current_user.tasks.include?(task) %>
              <td><%= link_to 'Desmarcar', destroy_donetask_path(task), method: :delete, class: "btn btn-light" %></td>
            <% else  %>
              <td><%= link_to 'Marcar', create_donetask_path(task), method: :post, class: "btn btn-dark text-white" %></td>
            <% end  %>

          </div>
        </div>
    </div>
  <% end %>
</div>
