<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= tasks_path %>">Dieciocho Bucket List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= tasks_path %>">Home <span class="sr-only">(current)</span></a>
      </li>

      <% if user_signed_in?  %>
      <li class="nav-item">
        <p> Completadas: <%= @tareas_realizadas %> / <%= @tareas_totales %></p>
      </li>
      <% end  %>

    </ul>

    <% if user_signed_in?  %>
        <form class="form-inline my-2 my-lg-0">
          <a class="btn btn-outline-success my-2 my-sm-0" href=" <%= edit_user_registration_path  %> "> <%= current_user.name %> </a>
        </form>
        <form class="form-inline my-2 my-lg-0">
          <a class="btn btn-danger my-2 my-sm-0" href=" <%= destroy_user_session_path  %> " data-method= "delete">Cerrar Sesión</a>
        </form>
    <% else  %>
        <form class="form-inline my-2 my-lg-0">
          <a class="btn btn-success my-2 my-sm-0" href=" <%= new_user_session_path  %> ">Ingresar</a>
        </form>
        <form class="form-inline my-2 my-lg-0">
          <a class="btn btn-outline-success my-2 my-sm-0" href=" <%= new_user_registration_path  %> ">Registrarse</a>
        </form>
    <% end  %>


  </div>
</nav>
